*~
.emacs.desktop
.emacs.desktop.lock
.session
ac-comphist.dat
elpa/
ede-projects.el
local/local-setting.el
tramp
README.pdf
missfont.log
gnus/
url/
tmp/
eshell/
tmp.*
abbrev_defs
init.el.before_ecb_2.40*
server/
*eshell*
2shell
.#*
*#
*.elc
semanticdb/
site-lisp/helm
helm-adaptive-history
recentf
test.el
test.c
trace.txt
pkgserver/